#Python==3.9
uvicorn==0.34.2
fastapi==0.115.12
PyJWT==1.6.4
passlib==1.7.4
pydantic==2.11.3
starlette==0.46.2
sqlalchemy==2.0.40
sqlmodel==0.0.24
psycopg2==2.9.10
pydantic==2.11.3
email_validator==2.2.0
bcrypt==4.0.1

tensorflow==2.19.0

pillow==11.2.1
python-multipart==0.0.20
requests==2.32.3
numpy==2.0.2
opencv-python
beautifulsoup4==4.13.4
opencv-python-headless==4.11.0.86
opencv-contrib-python-headless==4.11.0.86
pandas==2.2.3

fake-headers==1.0.2